{% extends 'base.html' %}

{% block title %}Chat With Ai{% endblock %}

{% block content %}

<div class="container__form">
    <div class="about">
       <div class="abot__head"> 
            <h1 class="about__title">About MindEase</h1>
            <p class="about__text">MindEase is a mental health chatbot that provides mental health support to users. It is designed to help users manage their mental health and provide them with the necessary resources to improve their mental health. MindEase is a chatbot that uses artificial intelligence to provide users with mental health support. It is designed to help users manage their mental health and provide them with the necessary resources to improve their mental health. MindEase is a chatbot that uses artificial intelligence to provide users with mental health support. It is designed to help users manage their mental health and provide them with the necessary resources to improve their mental health.</p>
        </div>
        <div class="abot__img"></div>
    </div>

</div>



{% endblock %}