{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container__form">
    <div class="about">
       <div class="about__header"> 
            <h1 class="about__header--title">About MindEase</h1>
            <p class="about__header--content">MindEase is a mental health chatbot that provides mental health support to users. It is designed to help users manage their mental health and provide them with the necessary resources to improve their mental health. MindEase is a chatbot that uses artificial intelligence to provide users with mental health support. It is designed to help users manage their mental health and provide them with the necessary resources to improve their mental health. MindEase is a chatbot that uses artificial intelligence to provide users with mental health support. It is designed to help users manage their mental health and provide them with the necessary resources to improve their mental health.</p>
        </div>
        <div class="about__img"><img src="{% static 'img/undraw_mindfulness_8gqa .svg' %}" alt="about img"></div>
    </div>
    <div class="about">
        <div class="about__header" style="margin-top: 1em;"> 
            <h1 class="about__header--title">About US</h1>
            <p class="about__header--content">We created this app as a fun project and a learning experience. At first, we didn’t have a clear direction, but as we worked on it, we realized how important mental health is. This journey has been as much about exploring our ideas as it has been about improving our skills.

                We're still learning and growing, especially when it comes to web designing, so thank you for your patience and support. This app is our way of combining creativity, purpose, and a bit of fun. We hope you enjoy it as much as we enjoyed making it!"
            </p>
        </div>
        <div class="about__img"><img src="{% static 'img/undraw_people_re_8pw.svg' %}" alt="about img"></div>
    </div>
    <div class="about">
        <div class="about__header" style="margin-top: 1em;"> 
            <h1 class="about__header--title">Our Mission</h1>
            <p class="about__header--content">Our mission is to provide mental health support to users in a safe and secure environment. We want to help users manage their mental health and provide them with the necessary resources to improve their mental health. We believe that everyone deserves access to mental health support, and we are committed to providing that support to users. Our mission is to provide mental health support to users in a safe and secure environment. We want to help users manage their mental health and provide them with the necessary resources to improve their mental health. We believe that everyone deserves access to mental health support, and we are committed to providing that support to users.</p>
        </div>
        <div class="about__img"><img src="{% static 'img/undraw_scrum_board_re_wk7v.svg' %}" alt="about img"></div>
    </div>
</div>



{% endblock %}