{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container__form">
    {% if user.is_authenticated %}
    <div class="home">
        <div class="home__main flex">
            <div class="home__main--content">
                <h1>Welcome, {{ user.first_name }}</h1>
                <h2 class="home__main--subtitle">to MindEase</h2>
                <p>Your mental health companion designed for students. Track your well-being, access personalized
                    AI-guided support, and find resources to help you thrive.</p>
                <a class="home__main--btn" href="{% url 'aichat:chat' %}">GET START</a>
            </div>
        </div>
    </div>
    {% else %}
        <div class="home">
            <div class="home__main flex">
                <div class="home__main--content">
                    <h1>Welcome</h1>
                    <h2 class="home__main--subtitle">to MindEase</h2>
                    <p>Your mental health companion designed for students. Track your well-being, access personalized
                        AI-guided support, and find resources to help you thrive.</p>
                    <a class="home__main--btn" href="{% url 'user_auth:sign_up' %}">GET START</a>
                </div>
            </div>
        </div>
    
    {% endif %}
</div>

{% endblock %}