{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<nav class="navbar" >
    <img src="../static/img/colorlogo.png" width="150px" class="">
    <ul class="navbar__list">
        <li class="navbar__iterms"><a href="{% url 'pages:home' %}">Home</a></li>
        <li class="navbar__iterms"><a href="{% url 'pages:contact' %}">Contact</a></li>
        <li class="navbar__iterms"><a href="">Service</a></li>
        <li class="navbar__iterms"><a href="">About</a></li>
    </ul>
    <ul class="navbar__list right">
        <li class="navbar__iterms">
            {% if user.is_authenticated %}
            <div class="navbar__dropdown">
                <button class="navbar__icon"><a><i class="fa-regular fa-user icon"></i></a></button>
                <div class="navbar__dropdown-content">
                    <a href="{% url 'pages:profile' %}">Profile</a>
                    <a href="#">Mode Tracker</a>
                    <a href="#">Chat With Ai</a> 
                    <a href="{% url 'user_auth:sign_out' %}">Sign Out</a>  
                </div>
            </div>
            {% else %}
                <li><button class="navbar__btn"><a href="{% url 'user_auth:sign_in' %}">Sign In</a></button></li>
                <li><button class="navbar__btn"><a href="{% url 'user_auth:sign_up' %}">Sign Up</a></button></li>
            {% endif %}
        </li>    
    </ul>
    <i class="fa-solid fa-bars" onclick="navOpen()"></i>
    <div class="navbar__mobile navbar__show hide">
        <i class="fa-solid fa-xmark" onclick="navClose()"></i>
        <ul class="navbar__mobile--list">
            <li class="navbar__iterms"><a  href="{% url 'pages:home' %}">Home</a></li>
            <li class="navbar__iterms"><a href="{% url 'pages:contact' %}">Contact</a></li>
            <li class="navbar__iterms"><a href="">Service</a></li>
            <li class="navbar__iterms"><a href="">About</a></li>
            {% if not user.is_authenticated %}
                <li class="navbar__iterms"><a href="{% url 'user_auth:sign_in' %}">Sign In</a></li>
                <li class="navbar__iterms"><a href="{% url 'user_auth:sign_up' %}">Sign Up</a></li>
            {% else %}
                
            {% endif %}
        </ul>
    </div>
</nav>
    <div class="container__form">
        <div class="flex">
            <div class="flex__profile">
                <h1 class="flex__profile--title">Profile</h1>
                <div class="flex__form flex__profile--form">
                    <form>
                        <h2 class="flex__profile--subtitle"><strong>User Name</strong> - {{ user.username }}</h2>
                        <h2 class="flex__profile--subtitle"><strong>Fist Name</strong> - {{ user.first_name }}</h2>
                        <h2 class="flex__profile--subtitle"><strong>Last Name</strong> - {{ user.last_name }}</h2>
                        <h2 class="flex__profile--subtitle"><strong>Birthday</strong> - {{ profile.birthday }}</h2>
                        <h2 class="flex__profile--subtitle"><strong>Age</strong> - {{ age }}</h2>
                        <h2 class="flex__profile--subtitle"><strong>Gender</strong> - {{ profile.gender }}</h2>
                        <button type="button" class="flex__button"><a href="{% url 'user_auth:sign_out' %}" style="color: white;"><h2>Sign Out</h2></a></button>
                        <p><i class="fa-regular fa-heart"></i> Your privacy and confidentiality are our top priority</p>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}


