.container {
    position: relative; // Ensure the container is positioned relatively
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../img/re-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    backdrop-filter: blur(8px); // Apply background blur
    -webkit-backdrop-filter: blur(8px); 


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; // Adjust the height as needed
        backdrop-filter: blur(8px); // Apply blur to the top
        -webkit-backdrop-filter: blur(8px); 
        z-index: -1; 
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;// Ensure it is on top of the container content
    }
    &__form{
        padding: 2em;
    }
}