.home {
  width: 100%;
  position: relative;

  &__bg {
    background: hsl(0, 0%, 0%);
  }

  &__main {
    &--bg {
      background-image: radial-gradient(
        circle at left center,
        hsla(39, 83%, 57%, 0.56),
        #3d290a 25%,
        hsl(0, 0%, 0%),
        #000000 65%,
        hsl(0, 0%, 0%)
      );
      width: 100%;
      min-height: 100vh;
      z-index: -1;
      left: 0;
      top: 0;
      position: absolute;
      min-height: 105vh;

      @media (min-width: 768px) {
        background-image: radial-gradient(
          circle at left center,
          hsl(39deg 100% 44.36% / 62%),
          #000000 25%,
          hsl(0, 0%, 0%),
          #000000 65%,
          hsl(0, 0%, 0%)
        );
      }
    }
    &--bg2 {
      background-image: radial-gradient(
        circle at right top,
        hsla(39, 83%, 57%, 0.56),
        hsla(36, 71.8%, 13.9%, 0) 25%,
        hsla(0, 0%, 0%, 0),
        hsla(0, 0%, 0%, 0) 65%,
        hsla(0, 0%, 0%, 0.04)
      );
      width: 70%;
      min-height: 100vh;
      z-index: -1;
      right: 0;
      position: absolute;
      top: 0;

      @media (min-width: 768px) {
        background-image: radial-gradient(
          circle at right top,
          hsl(39deg 83% 57% / 55%),
          hsl(36.47deg 96.74% 33.84% / 32%) 25%,
          hsla(0, 0%, 0%, 0),
          hsla(0, 0%, 0%, 0) 65%,
          hsla(0, 0%, 0%, 0.04)
        );
      }
    }

    background-repeat: no-repeat;
    min-height: 90vh;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;

    &--content {
      display: grid;
      text-align: center;
      padding: 2em;
      justify-items: center;

      @media (min-width: 768px) {
        width: 50%;
      }
    }

    &--subtitle {
      color: hsl(0deg 0% 100% / 44%);
    }

    &--btn {
      background: linear-gradient(14deg, hsl(39, 83%, 77%), hsl(39, 80%, 68%));
      color: hsl(0, 0%, 0%);
      padding: 0.5em 1em;
      border-radius: 1.1em;
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 1em;
      transition: all 0.3s;
      border: none;
      cursor: pointer;
      width: fit-content;

      &:hover {
        background: linear-gradient(
          14deg,
          hsl(39, 70%, 71%),
          hsl(39, 83%, 57%)
        );
      }
    }
  }

  &__feature-section {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    padding: 1.5em;
    justify-content: center;
    justify-items: center;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "large large normal"
        "normal2 large2 large2";
    }

    &--large {
      @media (min-width: 768px) {
        grid-area: large;
      }
    }
    &--large2 {
      @media (min-width: 768px) {
        grid-area: large2;
      }
    }
    &--normal {
      @media (min-width: 768px) {
        grid-area: normal;
      }
    }
    &--normal2 {
      @media (min-width: 768px) {
        grid-area: normal2;
      }
    }

    &--img {
      width: 100%;
      height: 25vh;
    }

    &--card {
      margin: 1.5em;
      padding: 1.75em;
      width: 98%;
      background-color: hsl(40, 13%, 9%);
      background-image: radial-gradient(
          at 88% 40%,
          hsl(0deg 0% 0%) 0px,
          hsla(0, 0%, 0%, 0) 85%
        ),
        radial-gradient(at 49% 30%, hsl(240, 15%, 9%) 0px, transparent 85%),
        radial-gradient(at 14% 26%, hsl(0deg 0% 0%) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsl(39deg 100% 25.72%) 0px, transparent 85%),
        radial-gradient(
          at 41% 94%,
          hsl(39deg 95.68% 37.45%) 0px,
          transparent 85%
        ),
        radial-gradient(
          at 100% 99%,
          hsl(39deg 44.28% 4.69%) 0px,
          transparent 85%
        );
      backdrop-filter: blur(10px);
      box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
      border-radius: 1.2em;
      border: 3px solid hsla(0, 0%, 100%, 0.3);
      text-align: center;
      color: hsla(0, 0%, 100%, 0.859);
      transition: all 0.3s ease-in;
      // transition: box-shadow 0;

      & > h2 {
        margin-top: 1em;
      }

      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(0.97);
      }
    }
  }

  &__descriptions {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background: transparent;
    position: relative;
    overflow: hidden;

    &--section {
      width: 70%;
      padding: 0 5em 5em;
      background: hsl(0deg 0.97% 28.17% / 11%);
      align-items: center;
      align-items: center;
      justify-items: center;
      justify-content: center;
      backdrop-filter: blur(10px);
      border: 2px solid hsla(0, 0%, 100%, 0.3);
      align-content: center;
      border-radius: 1.1em;

      &--section:hover {
        filter: drop-shadow(0 0 2em #fbe361ab);
      }

      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }

  &__headline {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 2em;
  }

  &__description {
    font-size: 1.2rem;
    color: hsl(0, 0%, 80%);
    text-align: center;
    margin-top: 1em;
    padding: 0 1em;
  }
}

@keyframes gradient {
  0% {
    background-position: center;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: center;
  }
}

.blur {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;
  background: hsl(0deg 0% 22.87% / 4%);
  filter: blur(31px);
}

.video {
  position: absolute;
  z-index: -2;
  width: 100%;
}

/* From Uiverse.io by MikeAndrewDesigner */

.wave {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  margin-left: -50%;
  margin-top: -70%;
  z-index: -2;
  background: linear-gradient(744deg, #efc16c, #d89a5e 40%, #8c5629 60%, black);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  bottom: 5em;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
