.flex {
    &__profile{
        text-align: center;
        display: grid;
        align-items: flex-start;
        justify-content: center;
        // padding: 2em;

        &--form{
            text-align: left;
        }
        &--title{
            margin-bottom: .75em;
        }
        &--subtitle{
            width: 100%;
            text-align: left;
            margin-bottom: 1.5em;
            
        }
    }
}