{% extends "base.html" %}

{% load static %}
    
    {% block content %}
    <div class="modetracker" style="padding: 2em; width: 100%;" >
        <h1 style="margin-bottom: 2em;text-align: center;">How are you feeling today? - <span style="color: white;">{{ today }}</span></h1>
        <div class="mode">
            
            <form action="" method="POST">{% csrf_token %}
                <div class="feedback">
                    <label class="angry" >
                        <input type="radio" value="Angry" name="usermode" id="usermode" />
                        <div title="Feeling Angry">
                            <svg class="eye left">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="eye right">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="mouth">
                                <use xlink:href="#mouth">
                            </svg>
                        </div>
                    </label>
                    <label class="sad">
                        <input type="radio" value="Sad" name="usermode" id="usermode" />
                        <div title="Feeling Sad">
                            <svg class="eye left">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="eye right">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="mouth">
                                <use xlink:href="#mouth">
                            </svg>
                        </div>
                    </label>
                    <label class="ok" title="Ok">
                        <input type="radio" value="Ok" name="usermode" id="usermode" />
                        <div></div>
                    </label>
                    <label class="good">
                        <input type="radio" value="Good" name="usermode" id="usermode" />
                        <div title="Feeling Good">
                            <svg class="eye left">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="eye right">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="mouth">
                                <use xlink:href="#mouth">
                            </svg>
                        </div>
                    </label>
                    <label class="happy">
                        <input type="radio" value="Happy" name="usermode" id="usermode" />
                        <div title="Feeling Happy">
                            <svg class="eye left">
                                <use xlink:href="#eye">
                            </svg>
                            <svg class="eye right">
                                <use xlink:href="#eye">
                            </svg>
                        </div>
                    </label>
                </div>
                        
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                        <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                    </symbol>
                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                        <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                    </symbol>
                </svg>
                <!-- <button type="submit" class="flex__button">SUBMIT</button> -->
            </form>
            
        </div>
        <p style="color: rgb(9, 191, 9);" id="msg"> {{ message }} </p>
        
        <div class="videos">
            {% if usermode == "Angry" %}<iframe src="https://www.youtube.com/embed/tV2Ecd7m6Tc?si=kI1eRVcYWX7IbDeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>{% endif %}
            {% if usermode == "Sad" %}<iframe src="https://www.youtube.com/embed/BloutcYWbJg?si=A3_7i9U3L-eYO-02" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>{% endif %}
            {% if  usermode == "Ok" %}<iframe src="https://www.youtube.com/embed/sm0i1Y4g_zA?si=NRKUfcWVbfFofFfB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>{% endif %}
            {% if  usermode == "Good" %}<iframe src="https://www.youtube.com/embed/B5u-SGDfS_s?si=cYl3TX7-PkyqvXPX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>{% endif %}
            {% if  usermode == "Happy" %}<iframe src="https://www.youtube.com/embed/JJ9GD0SiwEc?si=sUJ0AJqWWR8KnEhd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>{% endif %}
        </div>
        
        <script src="{% static 'js/get_mode.js' %}"></script>
        <script src="{% static 'js/save_mode.js' %}"></script>
    </div>
{% endblock %}