{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="container__form">
    <div class="flex">

        <div class="flex__form">
            <div class="ds">
                {% for data in chat_data %}
                    <div class="chat__promt">
                        <p style="color: rgb(74, 231, 12);">{{ data.prompt }}</p>
                    </div>
                    <div class="chat__response">
                        <p style="color: red;">{{ data.response }}</p>
                    </div>

                {% endfor %}
            </div>
            <form method="POST">{% csrf_token %}
                <h2 class="flex__logintitle">Feel Free to Get in Touch With Us</h2>
                
                <div class="flex__input">
                    <label for="prompt"><h3>Input</h3></label>
                    <input name="prompt" id="prompt" placeholder="type" required>
                </div>
                <button class="flex__button"><h2>Send Message<i class="fa-regular fa-paper-plane"></i></h2></button>        
            </form>
        </div>

    </div>
</div>



{% endblock %}