{% extends 'base.html' %}

{% block title %}Chat With Ai{% endblock %}

{% block content %}

<div class="container__form">
    <div class="flex">

        <div class="flex__form">

            <form method="POST">{% csrf_token %}
                <div class="flex__chat">
                    {% for data in chat_data %}
                        <div class="flex__chat--promt">
                            <p>{{ data.prompt }}</p>
                        </div>
                        <div class="flex__chat--response">
                            <p>{{ data.response }}</p>
                        </div>
    
                    {% endfor %}
                </div>
                <h2 class="flex__logintitle">What can I help with?</h2>
                
                <div class="flex__input">
                    <label for="prompt"><h3>Input</h3></label>
                    <input name="prompt" id="prompt" placeholder="type" required>
                </div>
                <button class="flex__button"><h2>Send Message<i class="fa-regular fa-paper-plane"></i></h2></button>        
            </form>
        </div>

    </div>
</div>



{% endblock %}