:root {
  --color-main: hsl(216, 93%, 94%);
  --color-header-bg: hsl(240, 37%, 20%);
  --color-button: hsl(221, 83%, 53%);
  --color-text: hsl(0, 0%, 0%);
  --color-text-purple: #9333EB;
  // --color-highlight: hsl(296, 99%, 30%);
}


// tailwind button color - #3b82f6 to #2563eb