.flex {
    &__button {
        background: var(--background-gradiant);
        color: hsl(0, 0%, 100%);
        padding: 1em;
        border-radius: 1.1em;
        font-size: 1rem;
        width: 90%;
        cursor: pointer;
        transition: all 0.3s;
        border: none;
        border: none;
        margin-top: 2em;
        font-weight: 600;
    }

    &__button:hover,
    &__button:focus {
        transition: background-color 0.3s;
        background: linear-gradient(14deg, #1d4ed8, #7e22ce);
        // border: 2px solid var(--color-blue);
    }
}