.flex {
    &__chat{
        overflow-y: auto;
        max-height: 400px;
        scrollbar-width: thin;
        scrollbar-color: hsla(0, 1%, 25%, 0.616) transparent;

        /* For WebKit browsers */
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
            border: 2px solid transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsla(0, 1%, 25%, 0.616);
            border-radius: 10px;
            border: 2px solid transparent;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: hsla(0, 1%, 25%, 0.8);
        }
        &--promt{
            text-align: right;

            & p{
                background-color: hsla(0, 1%, 30%, 0.708);
                display: inline-block;
                padding: .5em .75em;
                border-radius: 1.1em;
            }
        }

        &--response{
            text-align: left;

            & p{
                display: inline-block;
                padding: .5em .75em;
                border-radius: 1.1em;
            }
        }
    }


}