.flex {

    
    &__registerlink a{
        color: hsl(0, 0%, 100%);
        font-weight: 500;
    }

    &__registerlink a:hover{
        color: var(--color-blue);
        font-weight: 600;
    }

    .fa-heart {
        color: red;
    }
}