@use '../util/' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", serif;
  background: hsl(0, 0%, 0%);
  color: var(--color-text);
  
}

img {
  display: block;
  max-width: 100%;
}
