@use '../util/' as u;

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(40), u.rem(50));
  background-color: var(--color-blue);
  background-image: var(--background-gradiant);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h2 {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(28), u.rem(30));
}

p {
  @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(18), u.rem(20));
  line-height: 1.5;
  font-weight: 300;

  &.small {
    font-size: u.rem(13);
  }
}

a {
  text-decoration: none;
}

p > a {
  color: var(--color-text);
  text-decoration: underline;
  transition: color 150ms ease-in-out;

  &:hover {
    color: var(--color-accent);
  }
}
