<div class="flex">
    <div class="flex__container">
        <h1 class="flex__headtitle">Let's Talk About Your Mental Health</h1>
        <p class="flex__subtitle">Depression is more common than you might think, and you're not
            alone. Our caring team of professionals is here to listen and
            support you through your journey.</p>
    </div>

    <div class="flex__call flex__support">
        <i class="fa-solid fa-phone flex__icons"></i>
        <div class="flex__support-content">
            <h3>24/7 Support Line</h2>
            <p>+94-11-233-6585</p>
        </div>
    </div>
    
    <div class="flex__chat flex__support">
        <i class="fa-regular fa-comment flex__icons"></i>
        <div class="flex__support-content">
            <h3>Chat Support</h3>
            <p>Available 24/7</p>
        </div>
    </div>
</div>