<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    
</head>
<body style="font-family: 'Poppins', sans-serif; margin: 0; padding: 0; background-color: #161f33; color: white; background: linear-gradient(135deg, hsl(39, 83%, 77%), black);">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="container" style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;" width="100%">
                    <tr>
                        <td class="content" style="background: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px; text-align: center;" align="center">
                            <h1 style="font-size: 3rem; color: hsl(39, 83%, 77%); font-weight: 900; margin: 0;">Email Verification</h1>
                            <h2>Dear {{ username }},</h2>
                            <p>Please use the following code to verify your email address</p>
                            <h2 class="subtitle" style="color: hsl(39, 83%, 77%);">{{ verification_code }}</h2>
                            <p>Thank you!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>