{% extends 'base.html' %}

{% block title %}Email Verification{% endblock %}
{% load static %}
{% block content %}
    <div class="verify">
        <h2>Email Verification</h2>
        <form method="post" class="flex">
            {% csrf_token %}
            <div class="verify__inputs">
                <input type="number" name="code1" id="in1" min="0" max="9" maxlength="1" class="verify__inputs--num" required>
                <input type="number" name="code2" id="in2" min="0" max="9" maxlength="1" class="verify__inputs--num" required>
                <input type="number" name="code3" id="in3" min="0" max="9" maxlength="1" class="verify__inputs--num" required>
                <input type="number" name="code4" id="in4" min="0" max="9" maxlength="1" class="verify__inputs--num" required>
                <input type="number" name="code5" id="in5" min="0" max="9" maxlength="1" class="verify__inputs--num" required>
                <input type="number" name="code6" id="in6" min="0" max="9" maxlength="1" class="verify__inputs--num" required>
            </div>
            <button type="submit" class="home__main--btn">Verify</button>
        </form>
    </div>
    <script src="{% static 'js/input.js' %}"></script>
{% endblock %}